<!-- Blog 1: Lineage 2 -->
<% if (locals.data) { %>
    <% for (const key in data) { %>
        <% if (data.hasOwnProperty(key)) { %>
            <% const blog=data[key]; %>
                <p style="margin: 0; padding: 0;">🎮<strong><em>
                            <%= blog.game %>
                        </em></strong></p>
                        <h2 id="<%= key %>">
                            <%= blog.topic %>
                        </h2>
                        
                <p>
                    <%= blog.content %>
                </p>
                <h6>
                    <%= blog.created.uName %>
                        <strong>(<%= blog.created.uEmail %>)</strong>
                        <em><%= blog.created.date  %></em>
                </h6>
        <% } %>
                    <hr>
    <% } %>

<% } %>