<!-- Blog 1: Lineage 2 -->
<% if (locals.data) { %>
    <% for (const key in data) { %>
        <% if (data.hasOwnProperty(key)) { %>
            <% const blog=data[key]; %>
                <p style="margin: 0; padding: 0;">🎮<strong><em>
                            <%= blog.game %>
                        </em></strong></p>
                <h2 id="<%= key %>">
                    <%= blog.topic %>
                </h2>

                <p>
                    <%= blog.content %>
                </p>
                <h6>
                    <%= blog.created.uName %>
                        <strong>(<%= blog.created.uEmail %>)</strong>
                        <em>
                            <%= blog.created.date %>
                        </em>
                </h6>
                <% if (locals.userData) { %>
                    <% if (userData["uName"]===blog.created.uName){ %>
                        <button type="button" class="btn btn-primary">Edit</button>

                        <form action="/delete" method="post">
                            <input type="hidden" name="blogIDToDelete" value="<%= key %>">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>                        
                        <% } %>
                            <% } %>

                                <% } %>

                                    <hr>
                                    <% } %>

                                        <% } %>